body{
	font-family: Arial;
	font-size: 120%;
	margin:0% 5%;
	/*Since there is one css file hence writing default template here only!*/
	-webkit-background-image:linear-gradient(#C0C0C0,#FFFFFF);
	-moz-background-image:linear-gradient(#C0C0C0,#FFFFFF);
	-o-background-image:linear-gradient(#C0C0C0,#FFFFFF);
	background-image:linear-gradient(#C0C0C0,#FFFFFF);
}

header{
	background-image: url("../images/flywheel.jpg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4% 2%;
}
h1{
	text-transform: uppercase;
	font-family: serif;
	text-align: center;
	color:#FFFFFF;
	margin-bottom: 5%;
}

nav{
	text-align: center;
}

nav a{
	text-decoration: none;
	margin:10% 0%;
	background-color:#FFFFFF; 
	padding: 1% 4%;
	margin-right: 5%;
	opacity: 0.6;
	border-radius:5%;
	color:#000000;
}

nav .active{
	background-color:#FFFFFF;
	opacity: 1;

}

img{
	display: block;
	width: 90%;
	height: 90%;
	margin:2% 7% 5% 5%;
	border-style: solid;
	border-color: #000000;
}

aside{
	padding-top: 5%;
	padding-bottom: 10%;
	
}	

.left{
	display: inline-block;
	/*Since there is one css file hence writing default template here only!*/
	-webkit-background-image:linear-gradient(#87CEEB,#90EE90);
	-moz-background-image:linear-gradient(#87CEEB,#90EE90);
	-o-background-image:linear-gradient(#87CEEB,#90EE90);
	background-image:linear-gradient(#87CEEB,#90EE90);
	float: left;
	width:20%;
}

.right{
	line-height: 150%;
	display: inline-block;
	float:right;
	margin-right: 10%;
	width: 60%;
	padding-top: 5%;
}